#wrap {
  padding: 0 18px;
  box-sizing: border-box;
}

header {
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999999;
  padding: 0 18px;
  box-sizing: border-box;
}
header .logo {
  float: left;
}
header .logo img {
  height: 2rem;
  margin-top: 1.7rem;
}
header .menu {
  float: right;
}
header .menu img {
  height: 2.4rem;
  margin-top: 1.5rem;
}

#content1 {
  height: 75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
}
#content1 .con1 {
  float: left;
  width: 100%;
  height: 19rem;
  border-bottom: 3px solid #ff5100;
}
#content1 .con1 h2 {
  font-size: 2.2rem;
  font-weight: 500;
}
#content1 .con1 p {
  margin-top: 1.5rem;
  color: #666666;
  font-size: 1.5rem;
  font-weight: 300;
}
#content1 .con1 h3 {
  width: 4rem;
  margin-top: 1.5rem;
}
#content1 .con1 h3 a {
  border-bottom: 1px solid rgba(255, 81, 0, 0.4);
  font-size: 1.4rem;
  line-height: 15px;
  letter-spacing: -0.21px;
  color: #ff5100;
  font-weight: 500;
}
#content1 .con2 .into h2 {
  font-size: 1.4rem;
  line-height: 15px;
  letter-spacing: -0.21px;
  height: 3rem;
  color: #ff5100;
  margin-top: 2rem;
  border-bottom: 1px solid #f2f2f2;
}
#content1 .con2 .into p {
  padding: 20px 8px 24px;
  font-size: 1.5rem;
  color: #666;
  letter-spacing: -0.21px;
  font-weight: 300;
}
#content1 .con2 .into2 {
  display: flex;
  flex-direction: column;
  padding: 1px 8px 1px;
}
#content1 .con2 .into2 .inputt .input {
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  width: 100%;
  font-size: 1.7rem;
  color: #000;
}
#content1 .con2 .into2 .inputt .input::-moz-placeholder {
  color: #ccc;
}
#content1 .con2 .into2 .inputt .input:-ms-input-placeholder {
  color: #ccc;
}
#content1 .con2 .into2 .inputt .input::placeholder {
  color: #ccc;
}
#content1 .con2 .into2 .inputt .input:focus {
  outline: none;
}
#content1 .con2 .into2 p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}
#content1 .con2 .into3 {
  display: flex;
  flex-direction: column;
  padding: 1px 8px 1px;
  margin-top: 2.5rem;
}
#content1 .con2 .into3 .inputt {
  position: relative;
}
#content1 .con2 .into3 .inputt .inputtt {
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  width: 100%;
  font-size: 1.7rem;
  color: #666;
}
#content1 .con2 .into3 .inputt .inputtt:focus {
  outline: none;
}
#content1 .con2 .into3 .inputt .icon {
  background: url(../img/icon_calendar.png) no-repeat 0 0/cover;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 8px;
  right: 2px;
}
#content1 .con2 .into3 p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}
#content1 .con2 .into4 {
  display: flex;
  flex-direction: column;
  padding: 1px 8px 1px;
  margin-top: 2.5rem;
}
#content1 .con2 .into4 .inputt {
  width: 100%;
  display: flex;
}
#content1 .con2 .into4 .inputt .input1 {
  display: inline-block;
  width: 42%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  font-size: 1.7rem;
  margin-right: 1.5rem;
  color: #000;
}
#content1 .con2 .into4 .inputt .input1::-moz-placeholder {
  color: #ccc;
}
#content1 .con2 .into4 .inputt .input1:-ms-input-placeholder {
  color: #ccc;
}
#content1 .con2 .into4 .inputt .input1::placeholder {
  color: #ccc;
}
#content1 .con2 .into4 .inputt .input1:focus {
  outline: none;
}
#content1 .con2 .into4 .inputt .input2 {
  display: inline-block;
  width: 53%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  font-size: 1.7rem;
  color: #000;
}
#content1 .con2 .into4 .inputt .input2::-moz-placeholder {
  color: #ccc;
}
#content1 .con2 .into4 .inputt .input2:-ms-input-placeholder {
  color: #ccc;
}
#content1 .con2 .into4 .inputt .input2::placeholder {
  color: #ccc;
}
#content1 .con2 .into4 .inputt .input2:focus {
  outline: none;
}
#content1 .con2 .into4 p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}
#content1 .con2 .btn {
  width: 100%;
  height: 5.5rem;
  background: #FF5100;
  margin-top: 2rem;
  border-radius: 3px;
}
#content1 .con2 .btn h3 a {
  text-align: center;
  line-height: 5.5rem;
  color: #fff;
  font-size: 1.7rem;
}

.boto1 {
  border: 3px solid #f2f2f2;
  margin-top: 3.5rem;
  box-shadow: -1px 3px #f8f8f8;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#content2 {
  position: relative;
  height: 32rem;
}
#content2 h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 3rem;
}
#content2 .text {
  padding: 0px 8px;
}
#content2 .text h3 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
#content2 .text h3 span {
  color: #FF5100;
}
#content2 .text p {
  margin-top: 2rem;
}

.boto2 {
  border: 3px solid #f2f2f2;
  margin-top: 3.5rem;
  box-shadow: -1px 3px #f8f8f8;
  position: absolute;
  left: 0;
  width: 100%;
}

#content3 {
  height: 11rem;
}
#content3 .text {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content3 .text p {
  font-size: 1.5rem;
}
#content3 .text a {
  background: url(../img/icon_arrow_right.png) no-repeat 0 0/cover;
  width: 3rem;
  height: 3rem;
}

#footer .con6 {
  clear: both;
  height: 7rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 999999;
  border-top: 1px solid #ccc;
}
#footer .con6 ul {
  display: flex;
  justify-content: space-between;
}
#footer .con6 ul li {
  float: left;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#footer .con6 ul li a {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
}
#footer .con6 ul li a img {
  width: 3rem;
}/*# sourceMappingURL=style3.css.map */